
#include "resource.h"
#include "winres.h"

IDD_DIALOG1 DIALOGEX 0, 0, 411, 241
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Krypton Test Program"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "Stop Krypton",IDC_QUIT,276,217,126,17
    PUSHBUTTON      "Collect Telemetry",IDC_COLLECT_TELEMETRY,7,217,126,17
    LTEXT           "Status: ",IDC_STATIC,7,9,31,12
    EDITTEXT        IDC_STATUS,44,7,358,13,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "Network: ",IDC_STATIC,7,25,31,12
    EDITTEXT        IDC_NETWORK,44,23,358,13,ES_AUTOHSCROLL | ES_READONLY
    GROUPBOX        "Telemetry",IDC_STATIC,7,46,395,166
    EDITTEXT        IDC_TELEMETRY,18,61,375,145,ES_MULTILINE | ES_AUTOHSCROLL
END
